
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700italic,700);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, 
var{
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
    vertical-align: top; }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
table, table td { 
	padding:0;
	border:none;
	border-collapse:collapse;
}
img {
	vertical-align:top; 
}
embed { 
	vertical-align:top;
}



/*-------------------------------- Global properties -------------------------------- */
html {width:100%; height:100%;}

body {
	background:#3f3f4f;
	
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px; 
	line-height:18px; 
	min-width:960px;
	height:100%; 
	}
	
.wrapper {
	width : 100%;
	position: relative;
	} 
	
div.center {
	margin:0 auto; 
	width:960px;
	}
	
.left {float:left!important;}
.right {float:right!important;}
.clear {clear: both;}
.blok {display:block;}
.centertext {text-align: center;}
.bold {font-weight: bold;}
.download {
	float: left;
	margin: 0 0 0 20px!important;
}

.text {
	font-family: 'Archivo Narrow', sans-serif; 
	font-size:16px; 
	line-height:24px; 
	color:#fff; 
	text-align: center;
}

.text1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px; 
	line-height:24px; 
	color:#fff; 
	text-align: center;
}

.text2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px; 
	line-height:18px; 
	color:#fff; 
	padding: 0;
}

img.img {
	border: 1px #bfc1c2 solid;
}
	
/*h1{
	font-family: 'Archivo Narrow', sans-serif; 
	font-size:32px; 
	line-height:32px; 
	color:#000; 
	font-weight:normal;
	padding:40px 0 30px;
	}

*/
	
h1 {
	font-family: 'Archivo Narrow', sans-serif;
	font-size:30px; 
	line-height:30px; 
	color:#288803; 
	font-weight:normal;
	padding-bottom:25px;
	text-align: center;
	}	

h2{
	font-family: 'Archivo Narrow', sans-serif; 
	font-size:24px; 
	line-height:24px; 
	color:#288803; 
	font-weight:normal;
	padding-bottom:5px;
	text-transform:capitalize;
	padding-bottom: 40px;
}	

h3{
	font-family: 'Archivo Narrow', sans-serif; 
	font-size:28px; 
	line-height:28px; 
	color:#288803; 
	font-weight:normal;
	padding-bottom:17px; 
	}
	
h4{
	font-family: 'Archivo Narrow', sans-serif;  
	font-size:24px; 
	line-height:24px; 
	color:#fff; 
	font-weight:normal;
	padding-bottom:5px;
	text-transform:capitalize;
	}	

h6{
	font-family: 'Archivo Narrow', sans-serif;  
	font-size:17px; 
	line-height:17px; 
	color:#288803; 
	padding:20px 0 10px;
	text-transform:uppercase;
	}	

.title {
	font-family: 'Archivo Narrow', sans-serif; 
	font-size:17px; 
	line-height:23px; 
	color:#288803; 
	padding-bottom:20px;
	text-transform: uppercase;
}

p.weight {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px; 
	line-height:14px; 
	color:#48484c; 
	padding:10px 0 10px 40px;
	float: left;
	width: 50px;
}

div.line {
	background: url(images/bg_line.gif) left top repeat-x;
	height:4px;
	width: 100%;
	margin: 40px 0 40px;
}

a.button {
	background: url(bg_button.png) left bottom no-repeat;
	font-family: 'Titillium Web', sans-serif; 
	font-size:16px; 
	line-height:16px; 
	color:#fff; 
	width:111px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: 11px 0 12px 0;
	margin-top: 37px;
}

a.button:hover {
	background: url(bg_button.png) left top no-repeat;
	font-family: 'Titillium Web', sans-serif; 
	font-size:16px; 
	line-height:16px; 
	color:#fff; 
	width:111px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding: 11px 0 12px 0;
	margin-top: 37px;
}

a.more {
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px; 
	line-height:24px; 
	color:#282828; 
	text-align: center;
}

a.more:hover {
	text-decoration: none;
}
/*==================== header ====================*/
.header {
	background: url(bg_all.jpg) repeat-x ;
	position:relative;
	margin:0 auto; 
	width:100%; 
	margin-bottom: 30px;
}
	
#logo {
	float:left;
	padding-left: 30px;
	}
	
#logo a {
	display:block;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 35px;
	padding-top: 50px;
	color: #000;
	text-decoration: none
	}	
	
ul.nav {
	padding-top: 65px;
	}	
.nav li {
	float:left; 
	}

.nav li:hover{
	background:none;
	color:#fff; 
	text-decoration:none;
	}

.nav li a {
	display:inline-block;
	float:left;
	font-family: 'Titillium Web', sans-serif; 
	font-size:16px; 
	line-height:13px; 
	color:#000; 
	font-weight:normal;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	padding:0; 
	width: 90px;
	font-style:normal;
	}

.nav li a:hover,.nav li a.active {
	display:inline-block;
	float:left;
	font-family: 'Titillium Web', sans-serif; 
	font-size:16px; 
	line-height:13px; 
	color:#154601; 
	font-weight:normal;
	padding:0;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	}	