<html>
<head>{% block title %}Adobe Systems Incorporated{% endblock %}</head>
	
<body>

<h1>About Adobe Systems Incorporated</h1><br>

<p>

<b>Type : </b>Software Company<br/>

<b>Nationality : </b> United States of America<br/>

<b>Headquaters : </b>San Jose, California<br/>

<b>Focus : </b>Multimedia and Creativity Software<br/>

<b>Famous Products : </b>Photoshop, The Portable Document Format (PDF) and Adobe Creative Suite<br/>

<h2>History</h2>

Adobe was founded in February 1982 by John Warnock and Charles Geschke, who established the company after leaving Xerox PARC in order to develop and sell the PostScript page description language.<br/> In 1985, Apple Computer licensed PostScript for use in its LaserWriter printers, which helped spark the desktop publishing revolution.

</p>
<p>
<h2>Key people</h2>
Charles Geschke
(Co-Chairman)<br/>
John Warnock
(Co-Chairman)<br/>
Shantanu Narayen
(President and CEO)<br/>
</p>

<h2>Revenue</h2>
US$ 4,055.24 million (2013)<br><br>

<a href="/stats/adobe">Adobe Systems Incorporated Statistics</a>

</body>
</html>