<html>
<head><title>Google</title>
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{%static 'style.css' %}">
	</head>
	
<body>
	<div id="tabs">
	<li><a href="/"><span>Home</span></a></li>
	<li><a href="/company/adobe"><span>Adobe</span></a></li>
	<li><a href="/company/apple"><span>Apple</span></a></li>
	<li><a href="/company/google"><span>Google</span></a></li>
	<li><a href="/company/microsoft"><span>Microsoft</span></a></li>
	<li><a href="/company/oracle"><span>Oracle</span></a></li>
	<li><a href="/logout"><span>Logout</span></a></li>
</div>
<div id="container">
<div id="header">
<h1>About Google</h1></div>
<div id="extra">
<p id="p">
<p><b>Key People :</b>Larry Page (CEO)<br>Eric Schmidt (Chairman)<br>Sergey Brin (Director of Google X and Special Projects)<br>Ruth Porat (CFO)<br><br><b>
Revenue :</b>US$ 182.795 billion (2014)<br><br><br>
</p>
</div>

<div id="wrapper">
<p id="p">
Google is an American multinational corporation specializing in Internet-related services and products. These include online advertising technologies, search, cloud computing, and software. Most of its profits are derived from AdWords,an online advertising service that places advertising near the list of search results.
Google was founded by Larry Page and Sergey Brin while they were Ph.D. students at Stanford University. Together they own about 14 percent of its shares but control 56 percent of the stockholder voting power through supervoting stock. They incorporated Google as a privately held company on September 4, 1998. An initial public offering followed on August 19, 2004. Its mission statement from the outset was "to organize the world's information and make it universally accessible and useful," and its unofficial slogan was "Don't be evil." In 2004, Google moved to its new headquarters in Mountain View, California, nicknamed the Googleplex.


</p>
</div>
</div>

<div id="navigation">

<ul>
<a href="/stats/google">Google Statistics</a>
</ul>
</div>

</body>
</html>