<html>
<head>
	<title>
		Homepage
	</title>
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{%static 'style.css' %}">
	
</head>
<body>
	<h1>Welcome {{ user.username }}</h1>
	<h2> Your last login was on {{ user.last_login }}</h2>
	<h3>Choose a company</h3>
<div id="tabs">
	<li><a href="/"><span>Home</span></a></li>
	<li><a href="/company/adobe"><span>Adobe</span></a></li>
	<li><a href="/company/apple"><span>Apple</span></a></li>
	<li><a href="/company/google"><span>Google</span></a></li>
	<li><a href="/company/microsoft"><span>Microsoft</span></a></li>
	<li><a href="/company/oracle"><span>Oracle</span></a></li>
	<li><a href="/logout"><span>Logout</span></a></li>
	
</div>
</body>
</html>