<html>
<head>{% block title %}Oracle Corporation{% endblock %}	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{%static 'style.css' %}">
</head>
	
<body>
	<div id="tabs">
	<li><a href="/"><span>Home</span></a></li>
	<li><a href="/company/adobe"><span>Adobe</span></a></li>
	<li><a href="/company/apple"><span>Apple</span></a></li>
	<li><a href="/company/google"><span>Google</span></a></li>
	<li><a href="/company/microsoft"><span>Microsoft</span></a></li>
	<li><a href="/company/oracle"><span>Oracle</span></a></li>
	<li><a href="/logout"><span>Logout</span></a></li>
</div>
<h2>About Oracle Corporation</h2><br>
<p>The Oracle Corporation is an American multinational computer technology corporation headquartered in Redwood City, California, United States. The company specializes in developing and marketing computer hardware systems and enterprise software products – particularly its own brands of database management systems. As of 2011, Oracle is the second-largest software maker by revenue, after Microsoft.

The company also builds tools for database development and systems of middle-tier software, enterprise resource planning (ERP) software, customer relationship management (CRM) software and supply chain management (SCM) software.

Larry Ellison, a co-founder of Oracle, had served as Oracle's CEO throughout its history. On September 18, 2014, it was announced that he would be stepping down (with Mark Hurd and Safra Catz to become co-CEOs). Ellison will become executive chairman and CTO.[5] He also served as the Chairman of the Board until his replacement by Jeffrey O. Henley in 2004. On August 22, 2008, the Associated Press ranked Ellison as the top-paid chief executive in the world.

Key people
Larry Ellison,
Chairman & CTO
Jeff Henley,
Vice Chairman
Safra Catz, Co-CEO
Mark Hurd, Co-CEO


Revenue	 US$ 38.27 billion (2014)</p><br><br>

<a href="/stats/oracle">Oracle Corporation Statistics</a>

</body>
</html>